/dsqls/resources/ids2.txt
/dsqls/resources/ids_1_M.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pyutils-scripts.iml
/readfiles.py
/result.csv
/result.xls
/.idea/vcs.xml
